$mouse-drag-class-name: 'frs-tc--md' !default;
$mouse-drag-dragging-class-name: 'frs-tc--mdd' !default;
$mouse-drag-momentum-class-name: 'frs-tc--mdm' !default;

.#{$mouse-drag-class-name} {
  cursor: grab;
}

.#{$mouse-drag-dragging-class-name},
.#{$mouse-drag-momentum-class-name} {
  scroll-behavior: auto;
  scroll-snap-type: none;
}

.#{$mouse-drag-dragging-class-name} {
  cursor: grabbing;
}
